@import "tailwindcss";

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-3px, 3px); }
  40% { transform: translate(-3px, -3px); }
  60% { transform: translate(3px, 3px); }
  80% { transform: translate(3px, -3px); }
  100% { transform: translate(0); }
}

.animate-vibrate {
  animation: vibrate 0.35s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
